<h2>Sign Up</h2>
<div id="card_error" class="alert alert-error" style="display:none" ></div>
<%= params[:plan] %>
<%=resource%>
<%=session_path(resource_name)%>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical', 'data-subdomain' => RECURLY_SUBDOMAIN, 'data-signature' => @signature, 'data-ip_address' => request.remote_ip}) do |f| %>
    <%= hidden_field_tag 'plan', params[:plan] %>
    <%= f.hidden_field :customer_id %>
    <%= f.input :name, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.button :submit, 'Sign Up', :class => 'btn-primary' %>
<% end %>
